/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid c;
    border-bottom: 5px solid #a66;
  }
  
/* WRITE YOUR CODE BELOW HERE */

/* === typographi === */

  /* download font */

  @font-face {
    font-family: "Vollkorn-Black";
    src: url("Vollkorn/static/Vollkorn-Regular.ttf");
  }

  @font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-SemiBold.ttf");
  }

  /* style general font */

  html {
    font-family: "Vollkorn-Black", serif;
    font-size: 10px;
  }

  body {
    font-size: 1.8em;
    line-height: 25px;
  }

  header, h1, h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
  }

  header {
    text-align: center;
    letter-spacing: 6px;
  }

  section {
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  h2 + p {
    margin-left: 20px;
  }

/* === link === */

  a:visited, a:focus, a:hover {
    color: #a66;
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }

  a:active {
    color: rgb(221, 97, 97);
    font-family: "Raleway";
  }


  a img {
    width: 20px;
    position: relative;
    top: 4px;
  }

  /* === list === */

  aside {
    position: relative;
    left: 10px;
  }

  ul {
    list-style-type: none;
  }

  ul li {
    line-height: 25px;
  }
    
  aside p {
    text-align: center;
  }

   /* === menu === */

   nav ul li {
     width: 6em;
     padding: 5px;
     margin-bottom: 5px;
     text-align: center;
     border: 1px solid #a66;
     background-color: rgb(240, 152, 152);
   }

   nav ul li:hover {
     background-color: #a66;
     color: black;
     transform: scale(1.1);
     transition: 0.5s;
   }

   nav ul li a:hover {
     color: inherit;
   }

   nav ul li a{
     text-decoration: none;
   }