/* General setup */

* {
    box-sizing: border-box;
  }

*, *::after, *::before {
  box-sizing: inherit;
}
  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 20px;
  }

  h1, h2 {
    color: rgb(82, 21, 21);
  }

  /* === link === */

  a {
    color: saddlebrown;
  }

  a:visited, a:focus, a:hover {
    color: red;
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }

  a img {
    width: 20px;
    position: relative;
    top: 4px;
  }

  ul li a {
    text-decoration: none;
  }
  
  /* Layout */

  header {
    grid-column: 1/13;
    grid-row: 1;
  }

  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  main {
    grid-column: 1/13;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 20px;
  }

  main h1 {
    grid-column: 1/13;
    grid-row: 1;
  }

  main section {
    grid-column: 5/12;
    grid-row: 2;
  }

  main aside {
    grid-column: 1/4;
    grid-row: 2;
  }
  
  footer {
    grid-column: 1/13;
    grid-row: 3;
    clear: both;
  }


/* === typographi === */

  /* download font */

  @font-face {
    font-family: "Vollkorn-Black";
    src: url("Vollkorn/static/Vollkorn-Regular.ttf");
  }

  @font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-SemiBold.ttf");
  }

  /* style general font */

  html {
    font-family: "Vollkorn-Black", serif;
    font-size: 10px;
  }

  body {
    font-size: 1.8em;
    line-height: 25px;
  }

  header {
    font-size: 1.2em;
    letter-spacing: 3px;
  }

  h1, h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
  }

  h1 {
    text-align: center;
    letter-spacing: 6px;
  }

  section {
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  footer {
    text-align: center;
  }

/* === navbar === */

header {
  background-color: rgb(82, 21, 21);
  box-shadow: 0px 5px 5px rgb(31, 2, 2) inset;
}

header nav li {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 4px rgb(0, 0, 0) inset;
  margin-right: 2rem;
}

header nav li:hover {
  box-shadow: none;
  background-color: rgb(26, 2, 2) !important;
  transform: scale(1.1);
  transition: 0.3s;
}

header nav li a {
  color: rgb(82, 21, 21);
}

header nav li a:hover {
  color: #fff
}

   /* === h1 === */

   h1{
     text-shadow: 5px 5px 5px rgb(92, 31, 31);
   }
  /* === list === */

  aside {
    padding-left: 15px;
    margin-left: 20px;
    border: 5px double rgb(82, 21, 21);
    border-radius: 10px;
    height: 480px;
    box-shadow: 0px 5px 5px rgb(31, 2, 2);
  }

  aside ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
  }

  aside ul li {
    flex: 1;
    padding: 5px;
  }
    
  aside p {
    text-align: center;
  }

  footer {
    background-color: rgb(82, 21, 21);
    color: silver;
  }

  